<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="labex.feevale.br.looky" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission android:name="labex.feevale.br.looky.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="labex.feevale.br.looky.gcm.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomThemeLooky"
        android:name=".LookyApplication">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvc67klsaDu_yBzgGS8jH_6YYlq6Iqq0g"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="71503609d045cba6115e34f616a0f2cb4b3d913a" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".view.activities.AfterAuthorizationActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="labex.feevale.br.looky.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmMessageHandler" />
        <!--<service
            android:name=".old.service.GetPositionService"
            android:enabled="true"
            android:exported="true" >


            <meta-data android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />

        </service>-->
        <service android:name=".service.impl.LoadSubjectService" android:exported="false" />
        <service android:name=".service.impl.ProfileService" android:exported="false" />
        <service android:name=".gcm.GCMService" android:exported="false" />
    </application>

</manifest>
