<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="labex.feevale.br.looky" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission android:name="labex.feevale.br.looky.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="labex.feevale.br.looky.gcm.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomThemeLooky"
        android:name=".LookyApplication">

        <meta-data android:name="DATABASE" android:value="looky.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="labex.feevale.br.looky.dao.model" />

        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="labex.feevale.br.looky.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmMessageHandler" />
        <!--<service
            android:name=".old.service.GetPositionService"
            android:enabled="true"
            android:exported="true" >


            <meta-data android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />

        </service>-->
        <service android:name=".service.impl.LoadSubjectService" android:exported="false" />
    </application>

</manifest>
